<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wild.mapper.user.FriendShipMapper">
	<!-- 查询好友 -->
	<select id="getFriends" parameterType="String" resultType="FriendShip">
		select * from f_friendship where FKUserID = #{userid}
	</select>
	<!--添加好友-->
	<insert id="addFriend">
		insert into f_friendship values(#{fid},#{userId},#{friendId},#{addTime},0,null)
	</insert>
	
	<!--更改好友的热度-->
	<update id="updateHotNum">
		update f_friendship set fhotnum = fhotnum+1 where fkuserid = #{userId} and fkfriendid = #{friendId}
	</update>
	
</mapper>