<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wild.mapper.user.FriendShipMapper">
	<!-- 查询好友 -->
	<select id="getFriends" parameterType="String" resultType="FriendShip">
		select * from f_friendship where FKUserID = #{userid}
	</select>
	<!--添加好友-->
	<insert id="addFriend">
		insert into f_friendship values(#{fid},#{userId},#{friendId},#{addTime},0,null)
	</insert>
	
	<!--更改好友的热度-->
	<update id="updateHotNum">
		update f_friendship set fhotnum = fhotnum+1 where fkuserid = #{userId} and fkfriendid = #{friendId}
	</update>
	
	<!--查询好友列表-->
	<select id="getFriendList" parameterType="String" resultType="FriendList">
		select wgcnum,wnickname,wage,wheadimage,select IID,Icontent,iimage,iadress,DATE_FORMAT(ltime,'%Y-%m-%d %H:%i:%s') ltime,istatus,iuserid,igdid,ihotid ,laddress from (select wgcnum,wnickname,wheadimage,wage from w_user wu 
		left join w_details wd on wu.wid = wd.wid where wu.wgcnum in 
		(select fkfriendid from f_friendship where fkuserid=#{userid})) a
		left join l_lastoccur ll on a.wgcnum=ll.lusergc
	</select>
	
	<!--查询最热好友信息-->
	<select id="getHotFriend" parameterType="String" resultType="HotFriend">
		select fkuserid,fkfriendid,fcreatedat,wnickname from f_friendship ff left join w_user wu on wu.wgcnum=ff.fkfriendid
		where fkuserid=#{userid} order by fhotnum desc limit 1
	</select>
	
	<!--查询最近最热好友查看用户个人消息-->
	<select id="getHotCheck" parameterType="String" resultType="CheckUserInfo">
		select checkusergc,targetusergc,DATE_FORMAT(checktime,'%Y-%m-%d %H:%i:%s') checktime from checkPInfo where targetusergc=#{userid} 
		and checkusergc=(select fkfriendid from f_friendship where fkuserid=#{userid} 
		order by fhotnum desc limit 1)
		order by checktime desc limit 1
	</select>
	
	<!--查询最热好友最近点赞当前用户：公开消息-->
	<select id="hotPraiseNew"  parameterType="String" resultType="HotPraise">
		select mkmessageid,mkuserid,mpraise1 from m_praise mp left join i_information ii on ii.iid=mp.mkmessageid
		where mkuserid=(select fkfriendid from f_friendship where fkuserid=#{userid} order by fhotnum desc limit 1)
		and iuserid=#{userid}
	</select>
	
	<!--查询最热好友最近点赞当前用户：热点消息-->
	<select id="hotPraiseMessage"  parameterType="String" resultType="HotPraise">
		select mkmessageid,mkuserid,mpraise1 from m_praise mp left join m_message mm on mm.mid=mp.mkmessageid
		where mkuserid=(select fkfriendid from f_friendship where fkuserid=#{userid} order by fhotnum desc limit 1)
		and musergc=#{userid}
	</select>
	
	<!--查询最热好友最近评论当前用户：公开消息-->
	<select id="hotCommentNew"  parameterType="String" resultType="HotComment">
		select mowneruser,mcreatedat from m_comment mc left join i_information ii on ii.iid=mc.mparent
		where mowneruser=(select fkfriendid from f_friendship where fkuserid=#{userid} order by fhotnum desc limit 1)
		and iuserid=#{userid} order by mcreatedat desc limit 1
	</select>
	
	<!--查询最热好友最近评论当前用户：热点消息-->
	<select id="hotCommentMessage"  parameterType="String" resultType="HotComment">
		select mowneruser,mcreatedat from m_comment mc left join m_message mm on mm.mid=mc.mparent
		where mowneruser=(select fkfriendid from f_friendship where fkuserid=#{userid} order by fhotnum desc limit 1)
		and musergc=#{userid} order by mcreatedat desc limit 1
	</select>
	
	<select id="hotFriendMessage" parameterType="String" resultType="Date">
		select mdate from m_message where musergc=#{userid} 
		and mgetuser = (select fkfriendid from f_friendship where fkuserid=#{userid} order by fhotnum desc limit 1) 
		order by mdate desc limit 1
	</select>
	
</mapper>