<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wild.mapper.message.MCommentMapper">
	<!--消息查看评论 -->
	<select id="getComments" parameterType="IInformation"
		resultType="MComment">
		select * from m_comment where MID in
		(select mkcommentid
		from m_message_comment_relation where
		MInformationID=#{IID})
	</select>

	<!--热点查看评论 -->
	<select id="getMessageComments" parameterType="MMessage"
		resultType="MComment">
		select * from m_comment where MID in
		(select mkcommentid
		from m_message_comment_relation where
		MKMessageID=#{MID})
	</select>
	<!--插入评论 -->
	<insert id="insertComment" parameterType="MComment"
		useGeneratedKeys="true" keyProperty="mid">
		INSERT INTO m_comment (MID,
		MOwnerUser, MTargetUser,
		MContent, MLikeCount,
		MCreatedAt, MParent,
		MParentType, MMessage1, MMessage2, MMessage3)
		values(#{MID},#{MOwnerUser},#{MTargetUser},
		#{MContent},#{MLikeCount},#{MCreatedAt},#{MParent},#{MParentType},
		#{MMessage1},#{MMessage2},#{MMessage3})
	</insert>
	<!--插入热点 -->
	<insert id="insertMessage" parameterType="MMessage">
		insert into m_message (
		MID,MContent,MImage,MAdress,MGrade,MDate,MActivateStatus,MGetStatus,MStatus,MGetUser,MGetNum,MUserGC
		)
		values(#{MID},#{MContent},#{MImage},#{MAdress},#{MGrade},#{MDate},#{MActivateStatus},#{MGetStatus},#{MStatus},#{MGetUser},#{MGetNum},#{MUserGC})
	</insert>

	<!--插入消息评论关系表 -->
	<insert id="insertIMC" parameterType="MMessageCommentRelation">
		INSERT INTO
		m_message_comment_relation
		(MID, MInformationID, MKMessageID, WKUserID,
		MKCommentID)
		values
		(#{MID},#{MInformationID},#{MKMessageID},#{MKUserID},#{MKCommentID})
	</insert>

	<!-- 根据条件显示热点 -->
	<select id="paramterMessage" parameterType="MMessage"
		resultType="java.util.Map">
		select * from m_message where MStatus='normal'
		<if test="MActivateStatus != null">
			AND MActivateStatus = #{MActivateStatus}
		</if>
		<if test="MID != null">
			AND tokenId = #{tokenId}
		</if>
	</select>

	<!--根据用户id查询热点信息 -->
	<select id="messageRelation" parameterType="MMessageCommentRelation"
		resultType="MMessageCommentRelation">
		select * from m_message_comment_relation where
		WKUserID=#{MKUserID}
	</select>

	<!--根据热点id查询热点信息 -->
	<select id="selectMessage" parameterType="MMessage" resultType="MMessage">
		select * from m_message where tokenId=#{tokenId}
	</select>

	<!-- 更新热点领取状态 -->
	<update id="updateMessageRev" parameterType="MMessage">
		update m_message set
		<if test="MGetStatus != null">
			MGetStatus=#{MGetStatus}
		</if>
		<if test="MGetUser != null">
			, MGetUser=#{MGetUser}
		</if>
		where tokenId = #{tokenId}
	</update>

	<!-- 查询与我相关的热点任务 -->
	<select id="selectWithMessage" parameterType="String"
		resultType="MMessage">
		SELECT * FROM m_message WHERE m_message.tokenId in(
		select
		MKMessageID from m_message_comment_relation
		where MKMessageID in
		(select MKMessageID from m_praise) AND WKUserID
		=#{WKUserID})
	</select>

	<!-- 计算与我相关的热点任务数量 -->
	<select id="selectCountMessage" parameterType="String"
		resultType="int">
		SELECT COUNT(1) FROM m_message WHERE m_message.tokenId in(
		select
		MKMessageID from m_message_comment_relation
		where MKMessageID in
		(select MKMessageID from m_praise) AND WKUserID
		=#{WKUserID})
	</select>
	<!-- 查看前8条与我相关的有效消息 -->
	<select id="limitMessage" parameterType="String" resultType="MMessage">
		SELECT * FROM m_message m WHERE m.MStatus='normal' and
		m.MUserGC=#{MUserGC} ORDER BY MDate DESC LIMIT 8;
	</select>
	
	<!--查看当前用户发送的公开消息-->
	<select id="getUserNews" parameterType="String" resultType="IInformation">
		select iid,iuserid,icontent,iimage,iadress,idate,istatus from i_information 
		where iuserid=#{userid} order by idate desc
	</select>
	
	<!--查看当前用户发送的热点消息-->
	<select id="getUserMessages" parameterType="String" resultType="MMessage">
		select * from m_message where musergc=#{userid} order by mdate desc
	</select>
	
</mapper>