<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wild.mapper.user.WUserMapper">
	<!-- 注册 -->
	<insert id="register" parameterType="WUser">
		insert into w_user
		(WGCNum,tokenId,NickName,Sex,loginName,password,Age,WDate,WStatus,WSuperManager)
		select
		max(WGCNum)+1,#{tokenId},#{NickName},#{Sex},#{loginName},#{password},#{Age},#{WDate},#{WStatus},#{WSuperManager}
		from w_user
	</insert>

	<!-- 查看手机号码唯一 -->
	<select id="telForOnly" parameterType="String" resultType="String">
		select
		loginName
		from w_user where loginName=#{loginName}
	</select>

	<!-- 登录 -->
	<select id="login" parameterType="WUser" resultType="WUser">
		select *
		from w_user where
		loginName=#{loginName} and
		password=#{password}
	</select>

	<!--根据id查询用户信息 -->
	<select id="userDetils" parameterType="WUser" resultType="WUser">
		select
		*
		from w_user where
		tokenId=#{tokenId}
	</select>

	<!-- 忘记密码 -->
	<update id="lostPassWord" parameterType="WUser">
		update w_user set
		password=#{password} where loginName=#{loginName}
	</update>

	<!-- 用户详情关系表-用户与用户详情 -->
	<insert id="userDetailsDelation" parameterType="WUserDetailsRelation">
		insert into
		w_user_details_relation
		(WID,WKUserID, WKDetailsID)
		values(#{WID},#{WKUserID},#{WKDetailsID})
	</insert>

	<!--用户详情关系表-根据用户id查询用户详细信息 -->
	<select id="userDetilsById" parameterType="WUserDetailsRelation"
		resultType="WUserDetailsRelation">
		select
		*
		from w_user_details_relation where
		WKUserID=#{WKUserID}
	</select>

	<!-- 用户详情插入数据 -->
	<insert id="insertDtails" parameterType="WDetails">
		insert into w_details (
		WID,signature,interest,introduce,WCurrency,headImage,WBarcode)
		values(#{WID},#{signature},#{interest},#{introduce},#{WCurrency},#{headImage},#{WBarcode})
	</insert>

	<!--根据用户详情id查询用户详情 -->
	<select id="selectDetils" parameterType="WDetails"
		resultType="WDetails">
		select
		*
		from w_details where
		WID = #{WID}
	</select>
	<!-- 修改用户详情 -->
	<update id="updateUserDetails" parameterType="WDetails">
		update w_details
		<set>
			<if test="signature != null and signature != '' ">
				signature = #{signature},
			</if>
			<if test="interest != null and interest != '' ">  <!-- 兴趣爱好 -->
				interest = #{interest},
			</if>
			<if test="introduce != null ">  <!-- 介绍自己 -->
				introduce = #{introduce},
			</if>
			<if test="headImage != null ">  <!-- 头像地址 -->
				headImage = #{headImage},
			</if>
			<if test="WBarcode != '' ">
				WBarcode = #{WBarcode}
			</if>
		</set>
		WHERE WID = #{WID};
	</update>
	
	<!--查询用户的好友-->
	<select id="getUserFrieds" parameterType="WUser" resultType="WUser">
		
	</select>
	
</mapper>