<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wild.mapper.WUserMapper">

	<!-- 注册 -->
	<insert id="register" parameterType="WUser">
		insert into w_user
		(WID,WNickName,WSex,WUserNum,WPassWord,WAge,WDate,WStatus,WSuperManager)
		values(#{WID},#{WNickName},#{WSex},#{WUserNum},#{WPassWord},#{WAge},#{WDate},#{WStatus},#{WSuperManager})
	</insert>

	<!-- 查看手机号码唯一 -->
	<select id="telForOnly" parameterType="String" resultType="String">
		select
		WUserNum
		from w_user where WUserNum=#{WUserNum}
	</select>
	<!-- 登录 -->
	<select id="login" parameterType="WUser" resultType="WUser">
		select *
		from w_user where
		WUserNum=#{WUserNum} and
		WPassWord=#{WPassWord}
	</select>

	<!-- 忘记密码 -->
	<update id="lostPassWord" parameterType="WUser">
		update w_user set
		WPassWord=#{WPassWord} where WUserNum=#{WUserNum}
	</update>
</mapper>